body {
	margin:0;
	background-color: #D9E6FA;
}

.content{
	width: 940px;
	margin: 0 auto 0 auto;
}

.header{
	background-color: white;
	margin-bottom: 20px;
	-moz-box-shadow:    0px 1px 3px 0px rgba(0, 0, 0, 0.33);
	-webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.33);
	box-shadow:         0px 1px 3px 0px rgba(0, 0, 0, 0.33);
}

#accordion{
	margin: 0 0 20px 0;
}

.gallery{
	display:table;
}


.col1{
	float: left;
	width: 300px;  
} 

.col2{ 
	float: left;
	width: 300px;
	margin: 0 0 0 20px;
}

.col3{
	float: left;
	Width: 300px;
	margin: 0 0 0 20px;
}


.imgbackground {
	background-color: white;
	-moz-box-shadow:    0px 1px 3px 0px rgba(0, 0, 0, 0.33);
	-webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.33);
	box-shadow:         0px 1px 3px 0px rgba(0, 0, 0, 0.33);
}


h1{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: black;
}

p{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}